table { /* Especificidad de etiqueta HTML */
    border: 1px solid black;
    border-collapse: collapse;

    width: 200px;
    height: 200px;
}
    

#table_row--underlined {
    border-bottom: 2px solid black;
}

.row__td--right-bottom {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}
.row__td--bottom {
    border-bottom: 1px solid gray;
}
.row__td--right {
    border-right: 1px solid gray;
}

h4 {
    color: greenyellow;
}

caption {
    font-size: medium;
}

tr th { /* Damos herencia */
    width: 20px;
}

tr th:nth-child(1){
    width: 10px;
    background-color: blueviolet;
}