@import url(stylesDesktop.css);

/*
Colores Principales:
#FF9900
#FF6600
#009900

Colores Secundarios:
#330033
#330000
#FFFFFF
#000000

Tipografías
1. Holocausto Zombie ----> Titulos
2. Roboto ---------------> Titulos (h1...etc)
3. Noto Serif Japanese --> Textos (p...etc)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Roboto&display=swap");

@font-face {
  font-family: "ZombieHolocaust";
  src: url("Fonts/Zombie_Holocaust.ttf") format("truetype");
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: rgb(13, 8, 14);
  overflow-x: hidden;
}

/*Ahora vamos a poner a cada elemento, una rtipografía especifica... sin tener en cuenta el font-weight*/
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}

p,
span,
div {
  font-family: "Noto Serif JP", serif;
  color: #FFFFFF;
}

#tituloPagina {
  font-family: "ZombieHolocaust", sans-serif;
}

.header {
  height: 90px;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;

  z-index: 1;
  top: 0;
  position: sticky;

  background-color:#12141B ;
  box-shadow: 0px 5px 10px rgb(0, 0, 0);
}

.header__zonaTitulo {
  height: 100%;
  width: 30%;

  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  transition: 0.4s linear;
}

.header__zonaTitulo:hover {
  background-color: cadetblue;
  transform: scale(1.05);

  font-size: 1.2em;
  /*em es una medida que toma como referencia el font-size del html*/
}

#zonaTitulo__logo img {
  width: 170px;
  height: auto;
  
  position: relative;
  top: 5px;
}

.header__zonaNavegacion {
  height: 100%;
  width: 40%;
  background-color:#12141B ;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /*Establecemos aire entre elementos*/
}

.header__zonaNavegacion a {
  text-decoration: none;
  /*Para quitar el underline*/
  color: #ffffff;
}

.zonaNavegacion__div {
  padding: 5px;
  transition: 0.1s ease-out;
}

.zonaNavegacion__div:hover {
  border-bottom: 3px solid #ffffff;
  border-radius: 5px;
}

.zonaNavegacion__div h3 {
  margin: 0;
}

.zonaMain {

  margin-top: 20px;

  display: grid;

  grid-template-columns: repeat(12, 1fr);

  grid-auto-rows: minmax(200px, auto);


  /*  */
  row-gap: 10px;
  column-gap: 10px;

  color: #FFFFFF;

  font-size: 15px;
}

.zonaMain__producto {
  grid-column: 3/11;
}

.producto__seccion {
  margin-left: 1em;
  margin-right: 1em;
}

.destacado{
  grid-column: 2/5
}

.servicios{
  grid-column: 6/8
}

.equipo{
  grid-column: 9/12;

}



.footer {
  background-color: rgb(36, 106, 163); /* Color de fondo para el pie de página */
  color: white; /* Color del texto en el pie de página */
  padding: 10px;
  box-shadow: 0px -5px 10px rgb(0, 0, 0);

  text-align: center;
  

  margin-top: 0;

  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
    
}

.footer__redes img {
    width: 30px; /* Ajusta el tamaño de los iconos de redes sociales en el footer */
    margin: 0 5px;
}