// .index__main {
    

//     .main__picture {

//         overflow: hidden;
//         max-height: 80vh;

//         img {
//             width: 100%;
//             height: auto;
                    
//         }

//     }

// }

body {
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
    background: url(../images/UbriWebLanding1.png) center/cover; /* Establece la imagen de fondo centrada y que cubra toda la pantalla */
    height: 100vh; /* Establece la altura del cuerpo al 100% del viewport height */
}
