@mixin establecer-grid($n-columnas: 12, $display_introducido: grid) {
    @if $display_introducido ==flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @else {
        display: grid;
        grid-template-columns: repeat($n-columnas, 1fr);
    }


}

body {
    margin: 0;
}

.header {
    background-color: black;
    color: white;

    @include establecer-grid();

    .header__title__logo {
        margin-top: 10px;
        grid-column: 2/11;

        h1 {
            font-size: 3em;
        }

    }

}

.nav-bar {
    @include establecer-grid(12, flex);

    padding-top: 1em;
    padding-bottom: 1em;

    div {
        padding-left: 0.2em;
        padding-right: 0.2em;

        a {
            text-decoration: none;
            color: inherit; // Hereda el color de su padre
            padding: 1em;
        }

        a:hover {
            border-bottom: 2px solid red;
        }

        .a__active {
            border-bottom: 2px solid red;
        }
    }
}

.main-content-intro {
    @include establecer-grid();
    .main__introduccion {
        display: grid;
        grid-column: 2/11;

        h1 {
            font-size: 2.75em;
            margin-bottom: 0;
        }

        h4 {
           a {
            color: red;
           } 
        }
    }
}



// @media all and (max-width: 920px) {
//     .header {
//         .header__title__logo {

//         }
//     }
// }