<div class="main__picture">
     <picture>
          <source type="image/webp" srcset="./assets/images/fondo_landing_1-1.webp" />
          <source type="image/jpg" srcset="./assets/images/fondo_landing_1.jpg" />
          <img class="img" src="./assets/images/fondo_landing_1.png" alt="prueba" srcset="./assets/images/fondo_landing_1.png" />
     </picture>
</div>
<!--
<div class="main__picture">
     <video controls class="video">
          <source src="./assets/videos/video_coding_mp4.mp4" type="video/mp4">
          <source src="./assets/videos/video_coding_webm.webm" type="video/webm">
          Video no soportado
     </video>
</div>
-->

<div class="main__carrousel">
     <div class="carrousel__grande">
          <div class="grande__picture">
               <picture>
                    <source type="image/webp" srcset="assets/images/10.jpg" />
                    <source type="image/jpg" srcset="#" />
                    <img class="img" src="assets/images/10.jpg" alt="prueba" srcset="#" />
               </picture>
          </div>
          <div class="grande__picture">
               <picture>
                    <source type="image/webp" srcset="assets/images/11.jpg" />
                    <source type="image/jpg" srcset="#" />
                    <img class="img" src="assets/images/11.jpg" alt="prueba" srcset="#" />
               </picture>
          </div>
     </div>
     <div class="carrousel__botones">
          <div class="botones__boton activo"></div>
          <div class="botones__boton"></div>
     </div>
</div>