@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    margin: 0;
}

.header {
    height: 50px;
    display: flex;
    justify-content: space-around;
    background-color: #ef5350;
}

.header__zonaTitulo {
    height: 50px;
    width: 10%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.header__zonaTitulo:hover {
    background-color: #c62828;
}

#zona__logo img {
    width: 100px;
    height: auto;
}


.header__zonaNavegacion {
    height: 50px;
    width: 50%;

    overflow-x: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header__zonaNavegacion a {
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
}

.zonaNavegacion__div {
    padding: 13px;

    transition: 0.1s ease-out;
}

.zonaNavegacion__div:hover {
    background-color: #c62828;
}

.zonaNavegacion__div h3 {
    margin: 0;
}

.container {
    margin-left: 20%;
    margin-right: 20%;

    display: flex;
    justify-content: space-around;

    background-color: #FFFFFF;
}

.body__div--nav {

    height: 200px;
    width: 55%;

    /* position: sticky; */
    top: 50px;

    padding: 20px;
    display: flex;

    flex-direction: column;
    align-items: start;

}

.body__div--cont {
    padding: 20px;
}