<div class="main__picture">
     <picture>
          <source type="image/webp" srcset="./assets/images/fondo_landing_1-1.webp" />
          <source type="image/jpg" srcset="./assets/images/fondo_landing_1.jpg" />
          <img class="img" src="./assets/images/fondo_landing_1.png" alt="prueba" srcset="./assets/images/fondo_landing_1.png" />
     </picture>
</div>
<!--
<div class="main__picture">
     <video controls class="video">
          <source src="./assets/videos/video_coding_mp4.mp4" type="video/mp4">
          <source src="./assets/videos/video_coding_webm.webm" type="video/webm">
          Video no soportado
     </video>
</div>
-->

<section class="main__tabs">
     <div class="tabs__botonesTab">
          <div role="button" class="botonesTab__pestana activo">¿Quiénes somos?</div>
          <div role="button" class="botonesTab__pestana">Nuestra Misión</div>
          <div role="button" class="botonesTab__pestana">Nuestros Principios</div>
     </div>

     <div role="region" class="tabs__contenedorTexto">
          <div tabindex="0" class="contenedorTexto__bloque activo">Somos un grupo de jóvenes desarrolladores en proceso de crecer y potenciar nuestras capacidades como tales. Esforzandonos por dar nuestra mejor parte siempre y afrontando cualquier adversidad presente. Si quieres seguir creciendo como nosotros, puedes hacerlo en nuestra web en compañía nuestra y de la comunidad que buscamos conseguir</div>
          <div tabindex="0" class="contenedorTexto__bloque">Hablando de nuestra misión, queremos conseguir nuestro máximo potencial y llegar a lo más alto como desarrolladores web.</div>
          <div tabindex="0" class="contenedorTexto__bloque"></div>
     </div>
</section>