/*Creamos los estilos de nuestra página */
a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-align: center;
}

#landingPageImg{
    height: 200px;
    width: 300px;
    text-align: center;
}

#footerImg{
    height: 50px;
    width: 50px;
    
}

.container {
    /*Al poner margin da los 10 pixeles de margen por todos los lados*/
    margin: 10px;
    height: 100vh; /*View port height*/
    overflow: auto;
    padding: 10px;

    background-color: rgb(252, 202, 126);
}

.divCabecera {
    margin: 5px;
    height: 100px;

    border-radius: 6px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #67bbf0;
}

.divPrincipal {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*Fracción o 1 parte del todo el que está contenido*/

    margin: 5px;
    height: 100%;
    
    
    /*background-color: #eee9db;*/
    background-color: rgb(252, 202, 126);
}

.zonaNavegacion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-radius: 6px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;

    background-color: #3e83c4;
}

.zonaNavegacion div {
    width: 1fr;
    min-height: 50px;
    height: auto;
    margin: 5px;
    padding-left: 5px;
    
    border-radius: 6px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;

    /*background-color:rgb(250, 216, 165);*/
    background-color: #eee9db;
}

.zonaNavegacion div:hover {
    
    background-color:rgb(253, 191, 99);

}

.zonaContenido {
    grid-column: 2 / 5;
    margin: 10px;
    padding: 10px;
    text-align: center;
    display: block;

    border-radius: 6px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;

    
    background-color: #78aada;
}

.divFooter{
    margin: 5px;
    height: 100px;
    display: flex;
    align-items: center;
    
    border-radius: 6px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #67bbf0;
    
}

/*STYLES para página resumen*/
/*----------------------------------------------------------*/
.divCabeceraResumen {
    margin: 5px;
    height: 75px;

    border-radius: 6px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #51e3f7;
}

.zonaNavegacionResumen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-radius: 6px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;

    background-color: #e0d786;
}

.zonaNavegacionResumen div {
    width: 1fr;
    min-height: 50px;
    height: auto;
    margin: 5px;
    padding-left: 5px;
    
    border-radius: 6px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;

    /*background-color:rgb(250, 216, 165);*/
    background-color: #eee9db;
}

.zonaNavegacionResumen div:hover {
    
    background-color:rgb(253, 191, 99);

}

.zonaContenidoResumen {
    grid-column: 2 / 5;
    margin: 10px;
    padding: 10px;
    text-align: center;
    display: block;

    border-radius: 6px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;

    
    background-color: #e0d786;
}

#PublicoObjetivo{
    height: 200px;
    width: 350px;
    align-content: flex-start;
}

#elementosDiseno{
    height: 200px;
    width: 350px;
    align-content: flex-start;
}

/*STYLES para página colores*/
/*----------------------------------------------------------*/
.divCabeceraColores {
    margin: 5px;
    height: 75px;

    border-radius: 6px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #FFDBB9;
}

.zonaNavegacionColores {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-radius: 6px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;

    background-color: #b2faf0;
}

.zonaNavegacionColores div {
    width: 1fr;
    min-height: 50px;
    height: auto;
    margin: 5px;
    padding-left: 5px;
    
    border-radius: 6px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;

    /*background-color:rgb(250, 216, 165);*/
    background-color: #eee9db;
}

.zonaNavegacionColores div:hover {
    
    background-color:rgb(253, 191, 99);

}

.zonaContenidoColores {
    grid-column: 2 / 5;
    margin: 10px;
    padding: 10px;
    text-align: center;
    display: block;

    border-radius: 6px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;

    
    background-color: #b2faf0;
}

.divFooterColores{
    margin: 5px;
    height: 100px;
    display: flex;
    align-items: center;
    
    border-radius: 6px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #FFDBB9;
    
}

#paletaColores{
    height: 300px;
    width: 550px;
    align-content: flex-start;
    align-items: center;
}

/*STYLES para página colores*/
/*----------------------------------------------------------*/
.divCabeceraTipografia {
    margin: 5px;
    height: 75px;

    border-radius: 6px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #51e3f7;
}

.zonaNavegacionTipografia {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-radius: 6px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;

    background-color: #e0d786;
}

.zonaNavegacionTipografia div {
    width: 1fr;
    min-height: 50px;
    height: auto;
    margin: 5px;
    padding-left: 5px;
    
    border-radius: 6px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;

    /*background-color:rgb(250, 216, 165);*/
    background-color: #eee9db;
}

.zonaNavegacionTipografia div:hover {
    
    background-color:rgb(253, 191, 99);

}

.zonaContenidoTipografia {
    grid-column: 2 / 5;
    margin: 10px;
    padding: 10px;
    text-align: center;
    display: block;

    border-radius: 6px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;

    
    background-color: #e0d786;
}